<html>
    <head>
        <title>Unix Access Request </title>
       <link rel="stylesheet" media="screen" href ="static/bootstrap.min.css">
       <link rel="stylesheet" href="static/bootstrap-theme.min.css">
       <style>
		   ul {
			list-style-type: none;
			margin: 0;
			padding: 0;
			overflow: hidden;
			background-color:red;
			}

			li {
				float: right;
			}

			li a {
				display: block;
				padding: 8px;
				background-color: red;
				
			}
	   </style>
 
    </head>
    <body>
	<ul> 
			<span>
				<li style="float:left"> <a ><img src="static/ica_logo.png" width="35" height="35" /> </a> </li>
				<li style='float: left;'> <a ><font style="font-size: 200%" color= "white">Unix Access Request Home </font></a> </li>
				<li><a  href="http://10.102.112.150/logout" ><font style="font-size: 200%" color= "white">Logout</font></a></li>
			</span>
	</ul><br>
	<div class="container">
	
	<p> <br/> <br/>  </p>
	<div style="vertical-align:middle;horizontal-align:middle;"> <a href="http://10.102.112.150/unixcaccessrequest"  class="btn btn-info" role="button">Click Here To Raise New Access Request </a></div>
	<p> <br/> <br/>  </p>
	<div style="vertical-align:middle;horizontal-align:middle;"> <a href="http://10.102.112.150/myrequests"  class="btn btn-info" role="button">Click Here To See Your Request's</a></div>
	<p> <br/> <br/>  </p>
	<div style="vertical-align:middle;horizontal-align:middle;"> <a href="http://10.102.112.150/requestforapproval"  class="btn btn-info" role="button">Click Here To See Request's For Your Approval</a></div>
	
	</body>
	</html>