<html>
    <head>
        <title>Certificate Renewal Portal</title>
       <link rel="stylesheet" media="screen" href ="static/bootstrap.min.css">
       <link rel="stylesheet" href="static/bootstrap-theme.min.css">
       
 
    </head>
	
    <body>
	<p style = 'float: right;'> Greetings {{session.user}}</p> <br>
	<div class="container">
	
 
    <div style='float: right;'> <a href="https://10.107.198.101/logout"   >Click Here To Logout</a></div>
	
	<h1> Certificate Renewal Portal <h1>
	<p> <br/> </p>
	<div style="vertical-align:middle;horizontal-align:middle;"> <a href="https://10.107.198.101/renewalform"  class="btn btn-info" role="button">Click here for Certificate Renewal Form</a></div>
	<p> <br/> <br/>  </p>
	</div>
	</body>
</html>