<html>
	<head>
		<link rel="stylesheet" media="screen" href="{{url_for('static', filename='bootstrap.min.css')}}" >
		<link rel="stylesheet" media="screen" href="{{url_for('static', filename='bootstrap-theme.min.css')}}" >
		<script src="{{url_for('static', filename='jquery.min.js')}}"> </script>
		<style>
		ul {
			list-style-type: none;
			margin: 0;
			padding: 0;
			overflow: hidden;
			background-color:red;
		}

		li {
			float: right;
		}

		li a {
			display: block;
			padding: 8px;
			background-color: red;
			text-align: center;
		}
		</style>
	</head>
	<body>
		<ul> 
			<span>
				<li style="float:left"> <a ><img src="static/ica_logo.png" width="35" height="35" /> </a> </li>
				<li style='float: left;'> <a ><font style="font-size: 200%" color= "white">Request Raised For {{session.user}} </font></a> </li>
				<li><a  href="http://10.102.112.150/logout" ><font style="font-size: 200%" color= "white">Logout</font></a></li>
				<li><a   href="http://10.102.112.150/unixcaccessrequest" > <font style="font-size: 200%" color= "white" >Raise New Request</font></a></li>
				<li><a   href="http://10.102.112.150/home" > <font style="font-size: 200%" color= "white" >Home</font></a></li>
				
			</span>
		</ul><br>
		
		<div class="container" >
		
		<h3> Request Raised !! </h3>
			<table class="table table-bordered" >
				<tr>
					<td>Request Id</td>
					<td>{{request_id}}</td>
				</tr>
				
				<tr>
					<td>Approver</td>
					<td>{{manager_email_id}}</td>
				</tr>
				
				<tr>
					<td>Status</td>
					<td>{{status}}</td>
				</tr>
				
			</table>
			
	</body>
	
	
</html>
				